@import '../../../../theme/sass/conf/conf';

.financial {
  color: $content-text;

  .financial-item-container {
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    height:100%;
    .card {
      height: 100%;
      .card-body{
        padding: 10px;
      }
    }
  }

  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      width: 100%;
      flex: 0 0 100%
    }
  }

  .pie-chart-item {
    position: relative;
    height: 100%;
    .chart-icon {
      position: absolute;
      right: 0px;;
      top: 3px;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: inline;
    }
  }

}
