<!-- Generate-report Modal -->
<div class="modal fade" id="generate-report" tabindex="-1" role="dialog" aria-labelledby="generate-report" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Generating Your Reports</h4>
      </div>
      <div class="modal-body">
        You will receive your report to your E-Mail in 24 hours
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- FileWasUpload Modal -->
<div class="modal fade" id="fileWasUpload" tabindex="-1" role="dialog" aria-labelledby="fileWasUpload" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">File was successfully uploaded</h4>
      </div>
      <div class="modal-body">
        Your Data was saved
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--progressbar Modal -->
<div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="importFile" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Please wait...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
