@import '../../theme/sass/conf/conf';

@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

select.form-control[multiple] {
  overflow-y: scroll;
}

select.form-control {
  color: $default;
}


ng-select > div {
  color: #ffffff;
  border: 1px solid #bbcfe7!important;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  font-size: 14px;
}

ng-select > div > div.multiple input{
  height: 2rem!important;
}


ng-select > div > div.multiple > div.option {
  background-color: #ebf2f9!important;
}

select-dropdown > div {
  z-index: 10!important;
  background-color: #61a7d2!important;
}

.multiple {
  input {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
  }
}




.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.dashboard {
  .filter-Data {
    height: 100%;
  }
  .card-body {
    height: 100%;
  }

  .input-group {
    margin-bottom: 0px !important;
  }
  .input-group-btn {
    .btn-color {
      background: #6683b7;
      border-color: #bac9e0;
      line-height: 1.38;
    }
  }
  .form-control {
    height: 2rem !important;
  }
  .input-group .form-control {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .dates-height{
    height: 4rem!important;
  }

}
